<%- include("partials/header") -%>
<h1>Home</h1>

<p><%=hContent%></p>
<br>

<% pContent.forEach(function(title){ %>
  <h1><%=title.title%></h1>
  <p><%=title.post.substr(0,100) + " ..."%>
    <a href="/posts/<%=title.title%>">Read More</a></p>
<%});%>



<%- include("partials/footer") -%>
